*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-image: linear-gradient(to right, rgb(212, 255, 231), rgb(191, 244, 255) );
    height: 70px;
    display: inline-block;
}
.logo{
    width: 50px;
    float: left;
    height: 50px;
    margin: 10px 10px 10px 40px;
}   
.menuIcon{
    display: none;
    width: 50px;
    height: 50px;
    margin: 10px 10px 10px 40px;
}
.menu{
    float: right;
    margin-right: 100px;
}
.menu li{
    display: block;
    font-weight: 700;
    list-style: none;
}

.menu li a{
    text-decoration: none;
    padding: 0 20px 0 20px;
    line-height: 74px;
}
.hinhlienhe{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.boxLienhe{
    width: 70%;
    height: 300px;
    background-image: linear-gradient(to right, rgba(255, 253, 206, 0.377), rgba(255, 228, 191, 0.41) );
    border: 1px solid rgb(198, 98, 98);
    margin-left: 15%;
    margin-top: -500px;
    position: absolute;
    border-radius: 50px;
}
.boxLienhe h1{
    padding: 5% 0 2% 0;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    color: rgb(70, 219, 57);
    font-size: 35px;
}
.boxLienhe h2{
    text-align: center;
    padding: 0% 10% 0% 10%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 9px black;

}
article{
    margin-left: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 90%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;   
}
.boxTron{
    
    margin-bottom: 50px;
}
.logofb{
    background: url(/ASMweb2/hinh/Facebook_Logo_\(2019\).png);
    background-size: cover;
}
.logoig{
    background: url(/ASMweb2/hinh/instagram-logo-instagram-icon-transparent-free-png.png);
    background-size: cover;
}
.logoyt{
    background: url(/ASMweb2/hinh/197b365922d1ea3aa1a932ff9bbda4a6.png);
    background-size: cover;
}
.logott{
    background: url(/ASMweb2/hinh/tiktok-logo-1F4A5DCD45-seeklogo.com.png);
    background-size: cover;
}
.logoem{
    background: url(/ASMweb2/hinh/email-western-libraries-12.png);
    background-size: cover;
}
.logotw{
    background: url(/ASMweb2/hinh/pngtree-twitter-social-media-round-icon-png-image_6315985.png);
    background-size: cover;
}
.logoph{
    background: url(/ASMweb2/hinh/Phone-Icon-Vector-PNG.webp);
    background-size: cover;
}
.logomaps{
    background: url(/ASMweb2/hinh/355980.png);
    background-size: cover;
}
footer{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
}
.boxft{
    background-color: antiquewhite;

}

.boxft .bannerft{
    margin-top: 40px;
    width: 40%;
    margin-left: 30%;
}
.boxft h1{
    text-align: center;
    padding: 40px 10% 10px 10%;
}
.boxft p{
    padding: 0 5% 0 5%;
    text-align: center;
    font-weight: 500;
    font-size: large;
}
.menuft{
    text-decoration: none;

}
.menuft li{
    list-style: none;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 10px;
}
.menuft li:hover{
    background-color: aquamarine;
}
.menuft li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.ttlh{
    margin: 10px 0 10px 0;
    width: 30%;
    margin-left: 35%;
    display: flex;
    justify-content: space-around;
}
.boxTronft{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
/* Điện thoại dọc */
@media all and (min-width:320px){
    .menuIcon{
        display: block;
    }
    .logo{
        margin-left: 10px;
    }
    .menu{
        margin: 0;
        width: 100%;
        display: none;
    }
    .menu li{
        
        display: inline-block;
        width: 100%;
        border: 1px solid black;
        background-image: linear-gradient(to right, rgb(255, 219, 219),rgb(255, 242, 218),rgb(255, 255, 216),
                rgb(207, 255, 207),rgb(197, 197, 248),rgb(235, 207, 255),rgb(255, 216, 255));

    }
    .menu li a{
        line-height: 50px;
    }
    body{
        display: inline-block;
    }
    .boxTron{
        width: 150px;
        height: 150px;
        border-radius: 75px;
        background-color: aqua;
    }
    article{
        margin-bottom: 0;
    }
    footer{
        margin-top: 00px;
    }
    .boxft{
        width: 100%;
        height: 300px;
        margin:2px 0px 2px 0px;

    }

    .ttlh{
        width: 80%;
        margin-left: 10%;
    }
}


/* Tablet */
@media all and (min-width:768px){

    .menu{
        width: auto;
        display: flex;
        border: none;
        margin-right: 50px;
    }
    .menuIcon{
        display: none;
    }
    .logo{
        margin-left: 40px;
    }
    .menu li{
        display: inline;    
        width: auto;
        border: none;
        background-image: none;
        line-height: 70px;
        font-size: 19px;
    }
    .menu li:hover{
        
        background-image: radial-gradient(circle, rgb(254, 203, 203), rgb(255, 255, 223), rgb(229, 255, 229));
        border-radius: 50px;
    }
    .boxTron{
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
    .boxft{
    
        width: 33%;
        height: 300px;
    }

    .ttlh{
        width: 50%;
        margin-left: 25%;
    }
}

/* Máy tính */
@media all and (min-width: 992px) {
    
    .menu li{
        font-size: large    ;
    }
    .boxTron{
        width: 280px;
        height: 280px;
        border-radius: 140px;
    }
    .boxft h1{
        text-align: center;
        padding: 70px 10% 10px 10%;
    }

    .ttlh{
        width: 40%;
        margin-left: 30%;
    }
}